*{
    font-size: 18px;
}
#header.slider{
    background: plum;
}

ul{
    margin: 1rem 0 1rem 5rem;
}

.list{
    padding: 0.7rem;
    margin: 0.5rem;
    border-bottom: solid purple;
    border-width: 10px;
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    bottom: 150px;
    right: 100px;
}

.front-list a{
    text-decoration: none;
}