body{
    background-color:white;
  }
  
#clockDiv {
      height: 200px;
      width: 800px;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      padding-top: 30px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-size: 100px;
      border: solid 5px black;
      background-color: rgba(213, 122, 168, 0.89);
      border-radius: 30px;
      text-align: center;
}